/* Resetowanie stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/*style przeniesione z indexu*/
  body {
    background-image: url('zd.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* Kolorystyka i styl dla nagłówków i paragrafów */
  h1, h2, h3 {
    font-family: Arial, sans-serif;
    overflow: hidden;
  }
  
  h1 {
    color: #fffdf0;
    font-size: 55px;
  }
  
  h2 {
    color: #ffdf09;
    font-size: 36px;
  }
  
  h3 {
    color: #ffdf09;
    font-size: 18px;
  }
  
  p {
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
  
  .photo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    text-align: justify;
    color: blue;
  }
  
  .text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #ffdf09;
  }
  
  .sidebar-text {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: black;
    overflow: hidden;
  }
  
  /* Układ strony */
  .container {
    width: 100%; /* Rozciągnij kontener na całą szerokość okna przeglądarki */
    display: flex; /* Użyj flexbox do układu sekcji obok siebie */
  
  }
  
  /* Sekcje strony */
  .top {
    background-color: #fff08a;
    overflow: hidden;
    width: 50%;
    height: 50%;

    float: left;
    position: relative;
    left: 0px;
    top:20%;
  }
  
  .bottom-right {
    background-color: #fff7c0;
    width: 50%;
    height: 50%;
    overflow: hidden;
    float: right;
    text-align: center;
    padding: 0px;    
    position: relative;
    top:20%;

  }
  
  
  
  /* Obrazki */
  img {
    max-width: 41%;
    height: auto;
    float: right;
  }
  
  .photo-content {
    padding: 0 0 60px 0;
  }
  
  
  
  /* Układ siatki */
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #2196f3;
    padding: 0;
    width: 50%;
    float: right;
    overflow: hidden;
    float: right;
    position: relative;
    top:20%; 
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 0;
    font-size: 30px;
    position: sticky;

  }
  
  /* Zmiana koloru tła co drugiego wiersza w trzech kolumnach */
  .grid-container > div:nth-child(6n+4),
  .grid-container > div:nth-child(6n+5),
  .grid-container > div:nth-child(6n+6) {
    background-color: rgba(255, 0, 0, 0.8); /* Tutaj możesz zmienić kolor tła na inny */
  }
  
  /* Formularz */
  .form-whole {
    text-align: center;
    margin-top: 0px;
    width: 50%;
    float: left;
    background-color: red;
    position: relative;
    top:20%; 
    left: 0px;


    
  }
  
  .form-left{
    width: 50%;
    float: left;
    background-color: red;
  }
  .form-right{
    width: 50%;
    float: right;
    background-color: red;
  }
  
  label, input, textarea, select {
    display: block;
    margin: 10px 0;
  }
  
  .sidebar {
    background-color: #f30c87;
    width: 100%;
    float: left;
    opacity: 0.5;
    background-image: url('zd.jpg');
  
  }
  
  .bottom-left {
    background-size: cover;
    background-position: center;
    background-color: #f30c87;
    margin-left: 0;
    width: 100%;
    height: 20%;
    position: absolute;
    top: 0;
    left: 0;
  
    
  }
  
  
  
  
  
  .nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row; /* Zmień flex-direction na "row" */
  }
  
  li {
    position: relative;
    background: #f8f8f8;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-right: 10px; /* Dodaj odstęp między przyciskami */
  }
  
  .nav .dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    /* Usuń "width: 100%;" */
  }
  
  .hidden-links {
    display: none;
    color: #c51b1b;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #da6d15;
    border: 1px solid #555;
  }
  
  li:hover .hidden-links {
    display: flex;
    flex-direction: column;
  }
  
  .fa-caret-down {
    padding-left: 10px;
  }
  
  
  
  footer {
    text-align: center;
    margin-top: 20px;
    width: 100%; /* Rozciągnij stopkę na całą szerokość strony */
    clear: both; /* Dodaj clear:both, aby umieścić stopkę pod innymi elementami */
    background-color: green;
  }